<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="App_DongBo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <App_DongBo.Properties.Settings>
            <setting name="row_cls" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="col_cls" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="row_ero" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="col_ero" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="x_chain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y_chain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Length1_chain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Length2_chain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="max_diff" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ideal_area" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="row_cls_roller" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="col_cls_roller" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="row_ero_roller" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="col_ero_roller" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="x_roller" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y_roller" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Length1_roller" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Length2_roller" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="phi_logo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="phi_roller" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="min_score_roller" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x_chain_day" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y_chain_day" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x1_chain_day" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y1_chain_day" serializeAs="String">
                <value>0</value>
            </setting>
        </App_DongBo.Properties.Settings>
    </userSettings>
</configuration>
